<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/biblioteca.css">
</head>

<!------ HEADER ------>
<%- include('./partials/header') %>




    <body>
        <main>

            <div class="body">
                <% datos.forEach((libros)=> { %>

                    <div class="libro__card">
                        <div class="contenedorINFORMACION">
                        <div class="container__img">
                            <a href="/biblioteca/detalle/<%= libros.id %>"> <img src="/images/<%= libros.image %>" alt="<%= libros.titulo %>"></a>
                        </div>
                        <div class="info__libro">
                            <div class="titulo">
                                <h4>TITULO: <%= libros.title %>
                                </h4>
                            </div>
                            <div class="genero">
                                <h4>GENERO: <%= libros.Genres.name %>
                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="description">
                        <div class="descripcion">
                            <h4>
                                <%= libros.description %>
                            </h4>
                        </div>
                        <button class="mostrar-descripcion">Mostrar Descripción</button>
                    </div>
                </div>
                    <% }) %>
                


            </div>
</div>
        </main>


        <!---- FOOTER-->
        <%- include('./partials/footer') %>


            <script src="/js/mostrarDescription.js"> </script>
    </body>

</html