<!DOCTYPE html>
<html lang="en">


<body>

    <head>
        <%- include('./partials/head') %>
            <link rel="stylesheet" href="/css/styles-detalle.css">
    </head>

    <!------ HEADER ------>
    <%- include('./partials/header') %>

        <main>
            <div>
                <section class="detalle">
                    <div>
                        <img class="img" src="/images/<%= libroLista.image %>" alt="<%= libroLista.title %>">

                        <div class="todo__inf">
                            <div class="bookinf">
                                <h3 classs="titulo">
                                    <%= libroLista.title %>
                                </h3>
                                <p>Autor: <%= libroLista.autor %>
                                </p>
                                <p>Editorial: <%= libroLista.editorial %>
                                </p>
                            </div>

                            <div class="prices">
                                <div class="compra">
                                    <p>Precio: </br>
                                        $<%= libroLista.price %> </p>
                                </div>
                                <div class="pago">
                                    <p>Medio de Pago:</p>
                                    <p> Mercado Pago</p>
                                    <p> Debito</p>
                                    <p> Credito</p>
                                    <p>Costo de Envio: $500</p>
                                </div>
                            </div>


                            <div class="book-detail">

                                <p>Número: <%= libroLista.id %>
                                </p>
                                <p>Edición: 2020</p>
                                <p>Idioma: <%= libroLista.language %>
                                </p>
                            </div>

                            <a href="" class="carro"><button>Agregar al carro</button></a>
                        </div>

                    </div>
                    <div class="comentarios">

                        <section class="btns">
                            <div>
                                <a href="/biblioteca/editar/<%= libroLista.id %>"><button class="boton-modificar">Modificar
                                        Producto</button></a>
                            </div>
                            <div>
                                <form action="/biblioteca/delete/<%= libroLista.id %>?_method=DELETE" method="POST">
                                    <button class="boton-modificar" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </section>
                    </div>
                </section>


                
            </div>
        </main>

        <!---- FOOTER-->
        <%- include('./partials/footer') %>
</body>

</html>