<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!------ HEADER ------>
    <%- include('./partials/header') %>


        <main class="main">
       
            <section>
                <img class="img__banner" src="/images/Banner.png" alt="">
                <h3>Mejores Calificaciones:</h3>
                <div class="calificaciones">
                    
                    <div class="container">
                            <% clasificaciones.forEach((clasificacion)=> { %>
                            <a href="/biblioteca/detalle/<%= clasificacion.id %>"><img
                                    src="/images/<%= clasificacion.image%>" alt="<%= clasificacion.title %>">

                                <p>
                                    <%= clasificacion .calification%>
                                        <i class="fa-solid fa-star"></i>
                                </p>
                            </a>
                            <% }) %>
                        </div>

                </div>
                    </div>
            </section>
        </main>
        <!---- FOOTER-->
        <%- include('./partials/footer') %>
</body>

</html