<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/styles-Register.css">
</head>

<body>
    <!------ HEADER ------>
    <%- include('./partials/header') %>

        <main>
            <section class="Contenedor-img-form">

                <form id="Formulario" class="Formulario" action="/registrarse" method="post"
                    enctype="multipart/form-data">
                    <p id="text-log-in"></p>
                    <div class="contenedor-inputs">
                        <div class="doble-input">
                            <label for="Nombre-Usuario">Nombre De Usuario</label>
                            <input type="text" name="NombreUsuario"
                                value="<%= (locals.old && old.NombreUsuario) ? old.NombreUsuario : ``  %>"
                                id="Nombre-Usuario" placeholder="NombreUsuario">
                            <a id="errorNombreUsuario"></a>
                            <!-- <% if(locals.errors && errors.NombreUsuario) {%>
                                <i>
                                    <%= errors.NombreUsuario.msg %>
                                </i>
                       <% } %> -->


                            <label for="Email">Email</label>
                            <input type="email" name="Email" id="Email"
                                value="<%= (locals.old && old.Email) ? old.Email : ``  %>" placeholder="Email">
                            <a id="errorEmail"></a>
                            <!-- <% if(locals.errors && errors.Email) {%>
                                <i>
                                    <%= errors.Email.msg %>
                                </i>
                       <% } %> -->


                            </div>
                        <div class="doble-input">
                            <label for="password">Contrase単a</label>
                            <input type="password" name="password" id="password" placeholder="Contrase単a">
                            <a id="errorPassword"></a>
                            <!-- <% if(locals.errors && errors.password) {%>
                                <i>
                                    <%= errors.password.msg %>
                                </i>
                       <% } %> -->


                            <label for="repassword">Introduce la contrase単a nuevamente</label>
                            <input type="password" name="rePassword" id="repassword" placeholder="Contrase単a">
                            <a id="errorRePassword"></a>
                            <!-- <% if(locals.errors && errors.rePassword) {%>
                                <i>
                                    <%= errors.rePassword.msg %>
                                </i>
                       <% } %> -->
                            
                            <label for="image">Foto de Perfil</label>
                            <input class="foto_perfil" type="file" name="image" id="image" accept=".png,.jpg,.jpeg">
                            </div>
                   
                    </div>
                    <div class="botones-enviar-borrar">
                        <button class="botones" type="submit">Registrarse</button>
                        <button class="boton__borrar botones" type="reset">Borrar</button>
                    </div>

                </form>
                </div>
            </section>
            <script src="js/validacion.js"></script>
        </main>

        <!---- FOOTER-->
        <%- include('./partials/footer') %>
</body>

</html>