<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/styles-Register.css">
</head>

<body>
    <!------ HEADER ------>
    <%- include('./partials/header') %>

        <main>
            <section class="Contenedor-img-form">
                <div class="Imagen-Formulario"><img src="/images/logo.png" alt="logo del Rincon Del Libro"></div>
                <form class="Formulario" action="/registrarse" method="post" enctype="multipart/form-data" >
                    <p id="text-log-in">Register</p>
                    <p>
                        <label for="Nombre-Usuario">Nombre De Usuario</label>
                        <input type="text" name="NombreUsuario" value="<%= (locals.old && old.NombreUsuario) ? old.NombreUsuario : ``  %>" id="Nombre-Usuario" placeholder="NombreUsuario">
                        <% if(locals.errors && errors.NombreUsuario) {%>
                                <i>
                                    <%= errors.NombreUsuario.msg %>
                                </i>
                       <% } %>
                    </p>

                    <p>
                        <label for="Email">Email</label>
                        <input type="email" name="Email" id="Email" value="<%= (locals.old && old.Email) ? old.Email : ``  %>" placeholder="Email">
                        <% if(locals.errors && errors.Email) {%>
                                <i>
                                    <%= errors.Email.msg %>
                                </i>
                       <% } %>
                    </p>

                    <p>
                        <label for="password">Contrase単a</label>
                        <input type="password" name="password" id="password" placeholder="Contrase単a"  >
                        <% if(locals.errors && errors.password) {%>
                                <i>
                                    <%= errors.password.msg %>
                                </i>
                       <% } %>
                    </p>
                    <p>
                        <label for="repassword">Introduce la contrase単a nuevamente</label>
                        <input type="password" name="rePassword" id="repassword" placeholder="Contrase単a">
                        <% if(locals.errors && errors.rePassword) {%>
                                <i>
                                    <%= errors.rePassword.msg %>
                                </i>
                       <% } %>
                    </p>

                    <p class="foto__perfil">
                        <label for="image">Foto de Perfil</label>
                        <input type="file" name="image" id="image" placeholder="Email" accept=".png,.jpg,.jpeg">
                    </p>
                    
                    <div class="botones-enviar-borrar">
                        <button class="botones" type="submit">Enviar</button>
                        <button class="botones" type="reset">Borrar</button>
                    </div>
                </form>
                </div>
            </section>

        </main>

        <!---- FOOTER-->
        <%- include('./partials/footer') %>
</body>

</html>