<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/resultado.css">

</head>

<body>
    <!------ HEADER ------>
    <%- include('./partials/header') %>
        <main>
            <div>
                <h2>Resultado de la Búsqueda: <%= resultado.length %>
                </h2>
            </div>
            <div class="body">
                <% if (resultado.length> 0) { %>
                    <% resultado.forEach((libro, index)=> { %>
                        <div class="libro__card">
                            <a href="/biblioteca/detalle/<%= libro.id %>">
                                <div class="container__img">
                                    <img src="/images/<%=libro.image %>" alt="<%= libro.title %>">
                                </div>
                            </a>
                            <div class="info__libro">
                                <div class="titulo">
                                    <h4>TITULO: <%= libro.title %>
                                    </h4>
                                </div>
                                <div class="genero">
                                    <h4>GENERO: <%= libro.Genres.name %>
                                    </h4>
                                </div>

                            </div>

                        </div>
                        <div class="description">
                            <div class="descripcion" id="descripcion_<%= index %>">
                                <h4>DESCRIPCION: <%= libro.description %>
                                </h4>
                            </div>
                            <button class="mostrar-descripcion" id="mostrar-descripcion_<%= index %>">Mostrar
                                Descripción</button>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <h2 class="products-title" style="color: tomato;">No hay libros que coincidan con esa
                                    búsqueda</h2>
                                <% } %>
            </div>
        </main>



        <!---- FOOTER-->
        <!-- <%- include('./partials/footer') %> -->
</body>
<script src="/js/mostrar.js"></script>

</html>