<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/resultado.css">
</head>
<body>
    <!------ HEADER ------>
        <%- include('./partials/header') %>

        <main>
                <div>
                <h2>Resultado de la Busqueda: <%= resultado.length %></h2>
                </div>
            <div>
            <% if(resultado.length > 0){ %>

                <% resultado.forEach((libro) => { %>
                    <div id="Contenedor-Carrusel">
                        <div class="Carrusel" id="Carrusel-1">
                            <div class="ContenidoCarrusel" id="InfoContenido-1">
                                <div id="InfoDelLibro">
                                <div id="Genero"><h4>GENERO: <%=libro.genero %></h4></div>
                                <div id="Titulo"><h4>TITULO: <%=libro.titulo %></h4></div>
                                <div id="Descripcion"><h4>DESCRIPCION: <%=libro.descripcion %></h4></div></div>
                                <div class="ContenedorDeImagen"><img src="/images/<%=libro.img %>" alt="<%=libro.titulo %>"></div>
                            </div>
                        </div>

                <% }) %>

            <% } else { %>
                <h2 class="products-title" style="color: tomato;">No hay libros que coincidan con esa búsqueda</h2>
            <% } %>
            </div>
        </main>

        <!---- FOOTER-->
        <%- include('./partials/footer') %>
</body>
</html>